nav.style
  {
    background-color: #333;
    overflow: hidden;
  }

nav.style a
  {
    float: left;
    colour: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

nav.style a.active
  {
    background-colour: #04AA6D;
    colour: white;
  }
